.login-form {
  max-width: 400px;
  width: 50%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--col-med-grey);
}

.login-form > * {
  width: 100%;
}

input,
.form-submit {
  width: 100%;
  margin: 5px;
}

.login-inputs {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.password {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 5px;
}

.password > * {
  margin: 0;
}

.fas {
  padding-bottom: 4px;
  color: slateblue;
}

.fas:hover {
  cursor: pointer;
}

button {
  padding: 7px 10px;
  background-color: slateblue;
  color: var(--col-white);
  font-weight: bold;
  border: 0;
  border-radius: 5px;
}

.action-success {
  margin-top: 10px;
}
